<form id="create-comment">
     

    <label>Content</label>
    <input type="text" name="content" id="content"/>
    <input type="hidden" name="post_id" id="post_id" value="{{id}}"/>

    <button>Submit</button>

</form>

<script src="/js/createcomment.js"></script>
