<form id="signup-form">
    <label>Email</label>
    <input type="email" name="email" id="email">

    <label>Username</label>
    <input type="text" name="username" id="username">

    <label>Password</label>
    <input type="password" name="password" id="password">

    <button>Signup</button>
</form>


<a href="/login">Click here to switch to login</a>

<script src="/js/signup.js"></script>